body {
    min-height: 100vh;
    background-color:whitesmoke;
}

.sidebar {
    min-height: 100%;
    width: 300px;
    background-color:lightgray;
}

header {
    height: 100px;
    display: flex;
    background-color: lightblue;
}

.inner-text {
    font-size: large;
    font-weight: 100;
    margin: auto;
}

.content {
    flex-grow: 1;
    display: flex;
}

.main-container {
    display: flex;
    min-height: calc(100vh - 100px);
}

header a{
    text-align: center;
}

@media only screen and (max-width: 992px) {

    .main-container {
        flex-direction: column-reverse;
    }

    .sidebar{
        height: 150px;
    }
}