body{
    background: scroll;
    background-color: antiquewhite;
}
.Box{
    background-color: tomato;
    border: 1px solid;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 40px;

    float: right;
}