.box{
   background-color: blanchedalmond;
   color: black;
   border: 2px solid black;
   padding: 30;
   margin: 100px;
   width: 230px;
   border-radius: 10%;
}
body{
    background-color: aquamarine;
}
.box:hover{
    background-color: rgb(108, 21, 134);
}
p{
    background-color: black;
    color: greenyellow;
    padding: 30;
}
#p1{
    color: greenyellow;
    background-color: black;
}
